<!DOCTYPE html>
<html lang="en">

<style>
  input[type=text], input[type=date] {
  position: relative; left: 46%;
  margin-left: -200px
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }

  h1, p {
  text-align: center;
  }
</style>
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>

<h1>
    Add An Employee
</h1>

<input type="text" placeholder="First Name" id="fname"><br>
<input type="text" placeholder="Last Name" id="lname"><br>
<p>Tips For The Week Of</p>
<input type="date" id="tipweek">
</body>
</html>