<!DOCTYPE html>
<html lang="en">
<style>
    #main {box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Tippr: Signup</title>
</head>
<body>

<div class="container-fluid">
    <div class="row"><br><br></div>
    <div class="row">
        <div class="col"></div>
        <div class="col" id="main"><br>
            <h2 style="text-align: center;">Tippr Signup</h2>
            <form>
                <div class="mb-3">
                    <label for="fname" class="form-label">First Name</label>
                    <input type="Text" class="form-control" id="fname" aria-describedby="">
                    <div id="fname" class="form-text"></div>
                </div>

                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="Text" class="form-control" id="lname" aria-describedby="">
                    <div id="fname" class="form-text"></div>
                </div>

              <div class="mb-3">
                <label for="useremail" class="form-label">Email address (We'll never share your email with anyone else.)</label>
                <input type="email" class="form-control" id="useremail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
              </div>

                <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
              </div>

                <select class="form-select" id="job" aria-label="Default select example">
                  <option selected>Job Industry</option>
                  <option value="waiter">Waiter/Waitress</option>
                  <option value="barista">Barista</option>
                    <option value="bartender">Bartender</option>
                    <option value="driver">Driver (Taxi/Limousine/Etc)</option>
                    <option value="delivery">Delivery Driver</option>
                    <option value="dealer">Casino Dealer</option>
                    <option value="roomservice">Room Service/Cleaner</option>
                    <option value="caddy">Caddy</option>
                    <option value="guide">Tour Guide</option>
                    <option value="other">Other</option>
                </select><br><br>

              <div class="mb-3">
                <label for="psw" class="form-label">Password</label>
                <input type="password" class="form-control" id="psw">
              </div>

              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>

</form><br>
        </div>
        <div class="col"></div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>